            body {
                color: #ffffff;
                background-color: #1f1e2d;
            }
            
            h1 {
                font-weight: 600;
                font-size: 60px;
                line-height: 73px;
            }
            
            h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 42px;
                line-height: 51px;
            }
            
            h3 {
                font-weight: 500;
                font-size: 32px;
                line-height: 39px;
            }
            
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 28.97px;
                line-height: 35px;
            }
            
            .searching {
                margin: 160px;
                align-items: center;
            }
            
            .searchbar {
                margin-right: 10px;
            }
            
            .filter {
                margin-left: 10px;
            }
            
            .searchbtn {
                background-color: yellow;
                text-align: center;
                width: 200.31px;
                height: 81.51px;
                left: 653px;
                top: 409px;
                border-radius: 10px;
                margin-top: 62px;
                font-weight: 500;
                font-size: 30.8798px;
                line-height: 37px;
            }
            
            .searchbtnn {
                align-items: center;
                text-align: center;
            }
            
            .section1,
            .section2 {
                align-items: center;
                background-color: #181818;
                color: #ffffff;
                text-align: center;
            }
            
            .review-example {
                margin-top: 60px;
                margin: 60px 47px;
            }
            
            .top-reviewed {
                font-weight: 500;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                margin-top: 139px;
                align-items: center;
            }
            
            .recentrev {
                margin-top: 63px;
            }
            
            #cards {
                background-color: #181818;
            }
            
            .title {
                color: #ffffff;
                font-size: 22px;
                margin-left: 35px;
            }
            
            .title img {
                width: 23px;
                height: 23px;
                position: absolute;
                left: 50px;
                color: #8c8aa7;
            }
            
            .input[type="text"] {
                width: 450px;
                height: 70px;
                background: #262538;
                border: 1px solid #49485d;
                border-radius: 10px;
                margin: 18px 0px;
                box-sizing: border-box;
                padding-left: 55px;
                font-size: 18px;
                color: #8c8aa7;
                cursor: text;
            }
            
            .tags-wrapper {
                max-height: 130px;
            }
            
            .tags-wrapper.tags-header {
                color: #ffffff;
                font-size: 22px;
                margin-bottom: 14px;
            }
            
            .tags-container .tag {
                display: inline-flex;
                background: #FFD954;
                color: black;
                border-radius: 5px;
                padding: 12px;
                margin: 10px 3px;
                cursor: pointer;
            }
            
            .tag {
                margin-left: 10px;
            }
            
            .tags-container .selected {
                background: #C7E3EE;
            }
            
            .review-card {
                width: 441px;
                height: 563px;
                background: #2c2b3f;
                border-radius: 10px;
                margin: 10px 0px;
            }
            
            .review-header {
                color: #ffffff;
            }
            
            .name-group {
                display: flex;
                align-items: center;
            }
            
            .initials {
                display: flex;
                justify-content: flex-start;
                width: 66.34px;
                height: 66.34px;
                margin-left: 28px;
                margin-top: 46px;
                border-radius: 21.28px;
                background: #ffa552;
            }
            
            .rating i {
                color: #f3d779;
            }
            
            .review-description {
                color: #ffffff;
                font-weight: 400;
                margin: 0px 45px;
            }
            
            .review-details {
                display: flex;
                justify-content: space-between;
                margin: 0px 45px;
                align-items: center;
                color: #8c8aa7;
            }
            
            .share-group {
                display: flex;
                padding: 8px;
                border: 1px solid #1f1e2d;
                border-radius: 5px;
                cursor: pointer;
            }
            
            .share-group i {
                margin-right: 10px;
            }
            
            .rating {
                margin-left: 16px;
                margin-top: 20px;
            }