    .nav-container {
        margin: 0 auto;
        padding: none;
        width: 90px;
        height: 123px;
        display: inline-block;
        background-color: #181818;
        font-size: 24px;
        background-color: #181818;
        margin-left: 10px;
        ;
    }
    
    navbar {
        background-color: #181818;
    }
    
    .mr-60 {
        margin-right: 60px;
    }
    
    .ml-70 {
        margin-left: 20px;
    }
    
    .ml-74 {
        margin-left: 74px;
    }
    
    .Search {
        background: #565656;
        border-radius: 13.9706px;
    }
    
    .notification {
        margin-top: 17px;
    }
    
    .filter {
        margin-top: 30px;
    }
    
    .review,
    .community {
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        margin-top: 25px;
        text-align: center;
    }